.SingleBar {
  vertical-align: bottom;
  height: 400px;
  text-align: center;
  border: 1px solid black;
  width: 20%;

  .navy-bar {
    background: #003f5c;
  }

  .purple-bar {
    background: #58508d;
  }
  .pink-bar {
    background: #bc5090;
  }
  .red-bar {
    background: #ff6361;
  }
  .yellow-bar {
    background: #ffa600;
  }
}