.AppLoader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../assets/sky-bg.jpeg");
  background-size: cover;
  background-position: center left;
  background-repeat: no-repeat;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 9999;
}