.App {
  min-height: 100vh;
  padding: 1rem 0;
  text-align: center;

  @media only screen and (min-width: 760px) {
    .App {
      display: flex;
      align-items: center;

      .left-col {
        display: flex;
        align-items: center;
      }
    }
  }
}

